*{
    margin: 0;
    padding: 0;
}
.lms{
    background-color: white;
    color: black;
    width: 100%;
   padding-left: 5px;
   padding-right: 5px;
}
#judul-info{
    text-align: center;
}
#vtest{
    padding-bottom: 10px;
}
#backinfo:hover{
    cursor: pointer;
}
#backinfo{
    background-color: darkblue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    margin: auto;
}
#infoutama{
   
    width:80%;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 10%;
    display: none;
    z-index: 999;
}
#vs:hover{
    cursor: pointer;
    background-color: darkblue;
}
#vs{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 5px;
    width: 120px;
    
}
#vs-cls:hover{
    background-color: black;
    cursor: pointer;
}
#vs-cls{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 5px;
    width: 120px;
    display: none;
    
}
#pop-up{
    width: 80%;
    display: none;
    background-color: white;
    margin: auto;
    text-align: justify;
    padding: 5px;
    margin-top: 10px;
}
#ttp:hover{
    background-color: greenyellow;
    color: white;
    cursor: pointer;
}
#ttp{
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: red;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 30%;
    border-radius: 50%;
}
#click-menu:hover{
    background-color:darkviolet;
    cursor: pointer;
}
#click-menu{
    background-color: orangered;
    color: white;
    right: 10%;
    top: 20%;
    padding: 12px;
    border-radius: 10px;
    position: fixed;
    /*z-index: 999;*/
    /*display: none;*/
}




#ul{
    
}
#konfirm-pass{
    position: relative;
    display: none;
    font-size: 10pt;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    background-color: #f11a0a;
    color: white;
    top: 0;
}
#kl{
    background-color: red;
}
#kl:hover{
    background-color: white;
}
#tbl-info:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
#tbl-info{
     border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: blue;
    color: white;
    margin-top: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}
#informasi{
    background-color: antiquewhite;
    width: 100%;
}
#links{
    width: 20%;
    height: 15%;
    margin-top: 20px;
    background-color: midnightblue;
}
#capaian{
    display: none;
     width: 90%;
    height: 90%;
    margin: auto;
    padding-top: 2.5%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
#atp{
    text-align: center;
    text-decoration: underline;
}
#info-cp{
    text-align: justify;
    font-weight: bold;
    margin: auto;
    width: 80%;
}
ol{
    margin-left: 10%;
}
#sidemenu{
    width: 20%;
    height: 100vh;
    padding-bottom: 10px;
    padding-top: 10px;
    background:linear-gradient(34deg,blue,blueviolet);
    /*background-color: aqua;*/
    position: fixed;
    
    z-index: 999;
    right: 0;
    top: 0;
    display: block;
    margin-right: -500px;
    transition-duration: 1000ms;
    transition-timing-function: ease-in;
}
#vid{
    width: 90%;
    height: 90%;
    margin: auto;
    padding-top: 2.5%;
    display: none;
    
}
iframe{
    
    width: 100%;
    height: 100%;
}
.submenu:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.submenu{
    width: 90%;

    border-radius: 20px;
    
    
    color: white;
    text-align: center;
    background-color: darkblue;
    margin: auto;
    margin-top: 20px;
}
#content{
    width: 80%;
    height: 100%;
    /*background-color: white;*/
}
#menu{
    display: flex;
    width: 70%;
    height: 60vh;
    margin: auto;
    /*background-color: white;*/
}
#rgt{
    width: 60%;
    font-size: 12pt;
    text-align: right;
    background-color: darkblue;
    color: white;
    margin: auto;
    padding-right: 10px;
}
#hello{
    width: 60%;
    padding-top: 10px;
    margin: auto;
    color: white;
}
#test{
    display: none;
    width: 100%;
    height: 90vh;
    /*background-color: white;*/
    margin-top: 10px;
    
}
#login{
    width: 100%;
    height: 60vh;
    /*background-color: white;*/
    
}
#greeting{
    color: white;
    width: 70%;
    text-align: center;
    margin: auto;
    height: 20vh;
}
#beranda{
    height: 90%;
    width: 90%;
    background-color: white;
}
body{
    font-family: "Abel", sans-serif;
  font-weight:normal;
  font-style: normal;
    padding-top: 10vh;
    background: linear-gradient(2deg,#916d6d,blueviolet,#9d4848);
   /* background-image: url(ok.jpg);*/
/*    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    
}
#rg{
    font-size: 15pt;
    background-color: transparent;
}
#bingkai{
    width: 100%;
    height: 100%;
    background-image: url(web.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
#slide{
    width: 60%;
    height: 100%;

}
#form{
    width: 60%;
    background-color: white;
    height: 50vh;
    margin: auto;
    display: flex;
    
}
#cp{
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: white;
    
    
}
#masuk:hover{
    background-color: orangered;
 /*   border-style: solid;
    border-color: darkblue;*/
    cursor: pointer;
    color: white;
    /*border-width: thin;*/
    font-weight: bold;
    
    
}
#masuk{
    width: 100px;
    background-color: darkblue;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20px;
    text-align: center;
    margin-left: 20%;
    margin-top: 10px;
}
.data-input{
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    text-align: center;
    height: 30px;
    border-radius: 20px;
}
#isi{
    padding-left: 20px;
}
h2{
    font-weight:bold;
    padding-left: 20px;
    padding-top: 30px;
}
#ppbm{
    display: none;
    width: 70%;
    height: 100vh;
    position: fixed;
    bottom:0;
    border-radius: 40px;
    background-color: white;
    margin-left: 15%;
    z-index: 9999;
}

#ppbm-right{
    text-align: center;
    
    width: 290px;
    padding: 5px;
    color: white;
    background-color: darkblue;
    margin: auto;
    margin-top: 10px;
}
#insert-link{
    width: 100%;
    height: 70%;
    overflow-x: scroll;
}
#lp:hover{
    background-color: skyblue;
    color: blue;
    cursor: pointer;
}
#lp{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    margin-left: 20px;
    position: fixed;
    z-index: 999;
    bottom: 2%;
}
#nms{
    font-size: 14pt;
}


@media only screen and (max-width:787px){

    body{
        padding-top: 5vh;
    }
    #infoutama{
        width: 100%;
        height: 100vh;
        left: 0;
    }
 
    #form{
        height: 100vh;
    }
    #vs,#vs-cls{
        display: none;
    }
    #rgt{
        width: 90%;
        text-align: center;
    }
    #click-menu{
        top:5px;
        right: 5px;
    }
  /*  #sidemenu{
        height: 100vh;
    }*/


    #content{
        height: 50vh;
    }
    #menu{
        display: block;
    }

    .submenu{
        
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 5%;
    }
    #links{
        width: 100%;
    }
    #informasi{
        height: 50px;
    }
    #content{
        margin-top: 50px;
        width: 100%;
        
    }
    #beranda,#vid{
        width: 100%;
    }
    body{
        padding-top: 5vh;
    }
    

}
@media only screen and (max-width: 640px){
    #form{
        width: 90%;
    }
  
}
@media only screen and (max-width: 600px){
    #hello{
        width: 90%;
        text-align: center;
        padding-top: 20px;
        margin-left: 0;
    }

    #form{
        display: block;
        height: 100%;
        
        
    }
    /*#bingkai{
        width: 100%;
    }*/
    #slide{
        height: 50%;
        width: 100%;
    }
    #rg{
        font-size: 12pt;
    }
}

@media only screen and (max-width: 375px){
    #data{
        /*height: 30vh;*/
    }
    #form{
        display: block;
        width: 90%;
       /* height: 100vh;*/
        padding-bottom: 30px;
        /*background-color: transparent;*/
        box-shadow: 2px 5px 5px 2px grey;
    }
    #slide{
        width: 100%;
        height: 50%;
    }
    #cp{
        color: darkblue;
    }
   /* #data{
        color: white;
    }*/
    body{
        padding-top: 5vh;
    }
    #greeting{
        margin-bottom: 30px;
        width: 100%;
    }
    #rg{
        font-size: 12pt;
    }
    #cp{
        color: white;
    }
}
@media only screen and (max-width: 600px){
    #menu{
        display: block;
        width: 95%;
    }
    #data{
        /*height: 100%;*/
    }
    #sidemenu{
        position: fixed;
        /*z-index: 999;*/
        
    }

    #insert-link{
        overflow-x: scroll;
        /*height: 70%;*/
        height: 80%;
        
    }

    #ppbm{
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
    #vid{
        width: 100%;
    }
    iframe{
        width: 99%;
    }
    #content{
        width: 100%;
    }


    #sidemenu{
        width: 100%;
        height: 100vh;
        
    }
    .submenu{
        margin-top: 20px;
        padding-bottom: 8px;
        padding-top: 8px;
        /*background:linear-gradient(to bottom,blue,blue);*/
    }
    #test{
        height: 80vh;
    }
}
/*FIX*/